{% extends "layout.html" %}
{% block content %}
    <p class='h2'> Bienvenue sur my little tiny Unicode</p>
    <blockquote class="blockquote text-center">
    <p class="mb-0">Ce site a pour but de vous simplifier la vie.</p>
    <footer class="blockquote-footer">Citation de  <cite title="Source Title">Samuel Simonney</cite></footer>
    <p>Unicode est un standard informatique qui permet des échanges de textes dans différentes langues, à un niveau mondial. Il est développé par le Consortium Unicode, qui vise au codage de texte écrit en donnant à tout caractère de n'importe quel système d'écriture un nom et un identifiant numérique, et ce de manière unifiée, quels que soient la plate-forme informatique ou le logiciel utilisés.</p>
</blockquote>
<p>Voici les différentes informations d'un caractère unicode : </p>
<ul class="list-group">
    <li class="list-group-item">Son caractère</li>
    <li class="list-group-item">Son nom</li>
    <li class="list-group-item">Son point de code en hexadécimal</li>
    <li class="list-group-item">Son point de code en décimal</li>
    <li class="list-group-item">Sa catégorie</li>
</ul>

<p> Voici quelques exemples de caractères unicodes : </p>
<ul>
  <li><a href="http://localhost:5000/search/?search=2">Le chiffre 2</a></li>
  <li><a href="http://localhost:5000/search/?search=2">Tous les caractères avec un coeur dans leur nom</a></li>
</ul>
<p>Vous pouvez effectuer une recherche directement depuis la Navbar ou sur la page dédié <a href='http://localhost:5000/search/'>ici</a> ou dans le menu en hat à droite</p>
{% endblock %}